In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_context(context='poster')
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
data_set = pd.read_csv('Churn_Modelling.csv')
data_set.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
data = pd.get_dummies(data=data_set, columns=['Gender', 'Geography'], drop_first=True)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [5]:
X = data[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Gender_Male', 'Geography_Germany', 'Geography_Spain']]
y = data['Exited']

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
model = Sequential()
model.add(Dense(units=6, input_shape=(11,), activation='relu'))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [24]:
model.fit(X_train, y_train, batch_size=16, epochs=100)

Epoch 1/100
7500/7500 [==============================] - 0s - loss: 0.6053 - acc: 0.6960
Epoch 2/100
7500/7500 [==============================] - 0s - loss: 0.4704 - acc: 0.7948
Epoch 3/100
7500/7500 [==============================] - 0s - loss: 0.4348 - acc: 0.8017
Epoch 4/100
7500/7500 [==============================] - 0s - loss: 0.4098 - acc: 0.8147
Epoch 5/100
7500/7500 [==============================] - 0s - loss: 0.3913 - acc: 0.8263
Epoch 6/100
7500/7500 [==============================] - 0s - loss: 0.3777 - acc: 0.8384
Epoch 7/100
7500/7500 [==============================] - 0s - loss: 0.3684 - acc: 0.8436
Epoch 8/100
7500/7500 [==============================] - 0s - loss: 0.3619 - acc: 0.8469
Epoch 9/100
7500/7500 [==============================] - 0s - loss: 0.3573 - acc: 0.8477
Epoch 10/100
7500/7500 [==============================] - 0s - loss: 0.3540 - acc: 0.8493
Epoch 11/100
7500/7500 [==============================] - 0s - loss: 0.3513 - acc: 0.8508
Epoch 12/100
7500/7500 [==============================] - 0s - loss: 0.3502 - acc: 0.8531
Epoch 13/100
7500/7500 [==============================] - 0s - loss: 0.3482 - acc: 0.8519
Epoch 14/100
7500/7500 [==============================] - 0s - loss: 0.3465 - acc: 0.8545
Epoch 15/100
7500/7500 [==============================] - 0s - loss: 0.3453 - acc: 0.8549
Epoch 16/100
7500/7500 [==============================] - 0s - loss: 0.3445 - acc: 0.8552
Epoch 17/100
7500/7500 [==============================] - 0s - loss: 0.3436 - acc: 0.8527
Epoch 18/100
7500/7500 [==============================] - 0s - loss: 0.3426 - acc: 0.8565
Epoch 19/100
7500/7500 [==============================] - 0s - loss: 0.3421 - acc: 0.8559
Epoch 20/100
7500/7500 [==============================] - 0s - loss: 0.3413 - acc: 0.8567
Epoch 21/100
7500/7500 [==============================] - 0s - loss: 0.3406 - acc: 0.8573
Epoch 22/100
7500/7500 [==============================] - 0s - loss: 0.3402 - acc: 0.8561
Epoch 23/100
7500/7500 [==============================] - 0s - loss: 0.3402 - acc: 0.8560
Epoch 24/100
7500/7500 [==============================] - 0s - loss: 0.3394 - acc: 0.8564
Epoch 25/100
7500/7500 [==============================] - 0s - loss: 0.3391 - acc: 0.8563
Epoch 26/100
7500/7500 [==============================] - 0s - loss: 0.3386 - acc: 0.8568
Epoch 27/100
7500/7500 [==============================] - 0s - loss: 0.3384 - acc: 0.8576
Epoch 28/100
7500/7500 [==============================] - 0s - loss: 0.3382 - acc: 0.8576
Epoch 29/100
7500/7500 [==============================] - 0s - loss: 0.3377 - acc: 0.8572
Epoch 30/100
7500/7500 [==============================] - 0s - loss: 0.3373 - acc: 0.8599
Epoch 31/100
7500/7500 [==============================] - 0s - loss: 0.3373 - acc: 0.8575
Epoch 32/100
7500/7500 [==============================] - 0s - loss: 0.3368 - acc: 0.8589
Epoch 33/100
7500/7500 [==============================] - 0s - loss: 0.3364 - acc: 0.8581
Epoch 34/100
7500/7500 [==============================] - 0s - loss: 0.3357 - acc: 0.8613
Epoch 35/100
7500/7500 [==============================] - 0s - loss: 0.3354 - acc: 0.8588
Epoch 36/100
7500/7500 [==============================] - 0s - loss: 0.3346 - acc: 0.8613
Epoch 37/100
7500/7500 [==============================] - 0s - loss: 0.3344 - acc: 0.8596
Epoch 38/100
7500/7500 [==============================] - 0s - loss: 0.3336 - acc: 0.8613
Epoch 39/100
7500/7500 [==============================] - 0s - loss: 0.3331 - acc: 0.8591
Epoch 40/100
7500/7500 [==============================] - 0s - loss: 0.3319 - acc: 0.8616
Epoch 41/100
7500/7500 [==============================] - 0s - loss: 0.3321 - acc: 0.8619
Epoch 42/100
7500/7500 [==============================] - 0s - loss: 0.3319 - acc: 0.8621
Epoch 43/100
7500/7500 [==============================] - 0s - loss: 0.3317 - acc: 0.8608
Epoch 44/100
7500/7500 [==============================] - 0s - loss: 0.3313 - acc: 0.8620
Epoch 45/100
7500/7500 [==============================] - 0s - loss: 0.3311 - acc: 0.8616
Epoch 46/100
7500/7500 [==============================] - 0s - loss: 0.3309 - acc: 0.8611
Epoch 47/100
7500/7500 [==============================] - 0s - loss: 0.3305 - acc: 0.8620
Epoch 48/100
7500/7500 [==============================] - 0s - loss: 0.3304 - acc: 0.8624
Epoch 49/100
7500/7500 [==============================] - 0s - loss: 0.3299 - acc: 0.8615
Epoch 50/100
7500/7500 [==============================] - 0s - loss: 0.3303 - acc: 0.8619
Epoch 51/100
7500/7500 [==============================] - 0s - loss: 0.3305 - acc: 0.8612
Epoch 52/100
7500/7500 [==============================] - 0s - loss: 0.3301 - acc: 0.8627
Epoch 53/100
7500/7500 [==============================] - 0s - loss: 0.3303 - acc: 0.8632
Epoch 54/100
7500/7500 [==============================] - 0s - loss: 0.3301 - acc: 0.8637
Epoch 55/100
7500/7500 [==============================] - 0s - loss: 0.3299 - acc: 0.8632
Epoch 56/100
7500/7500 [==============================] - 0s - loss: 0.3300 - acc: 0.8629
Epoch 57/100
7500/7500 [==============================] - 0s - loss: 0.3297 - acc: 0.8631
Epoch 58/100
7500/7500 [==============================] - 0s - loss: 0.3298 - acc: 0.8632
Epoch 59/100
7500/7500 [==============================] - 0s - loss: 0.3296 - acc: 0.8645
Epoch 60/100
7500/7500 [==============================] - 0s - loss: 0.3294 - acc: 0.8627
Epoch 61/100
7500/7500 [==============================] - 0s - loss: 0.3297 - acc: 0.8624
Epoch 62/100
7500/7500 [==============================] - 0s - loss: 0.3296 - acc: 0.8635
Epoch 63/100
7500/7500 [==============================] - 0s - loss: 0.3294 - acc: 0.8633
Epoch 64/100
7500/7500 [==============================] - 0s - loss: 0.3288 - acc: 0.8643
Epoch 65/100
7500/7500 [==============================] - 0s - loss: 0.3288 - acc: 0.8640
Epoch 66/100
7500/7500 [==============================] - 0s - loss: 0.3294 - acc: 0.8640
Epoch 67/100
7500/7500 [==============================] - 0s - loss: 0.3284 - acc: 0.8652
Epoch 68/100
7500/7500 [==============================] - 0s - loss: 0.3291 - acc: 0.8635
Epoch 69/100
7500/7500 [==============================] - 0s - loss: 0.3290 - acc: 0.8652
Epoch 70/100
7500/7500 [==============================] - 0s - loss: 0.3288 - acc: 0.8648
Epoch 71/100
7500/7500 [==============================] - 0s - loss: 0.3289 - acc: 0.8628
Epoch 72/100
7500/7500 [==============================] - 0s - loss: 0.3281 - acc: 0.8639
Epoch 73/100
7500/7500 [==============================] - 0s - loss: 0.3287 - acc: 0.8625
Epoch 74/100
7500/7500 [==============================] - 0s - loss: 0.3288 - acc: 0.8635
Epoch 75/100
7500/7500 [==============================] - 0s - loss: 0.3293 - acc: 0.8633
Epoch 76/100
7500/7500 [==============================] - 0s - loss: 0.3285 - acc: 0.8631
Epoch 77/100
7500/7500 [==============================] - 0s - loss: 0.3285 - acc: 0.8639
Epoch 78/100
7500/7500 [==============================] - 0s - loss: 0.3282 - acc: 0.8632
Epoch 79/100
7500/7500 [==============================] - 0s - loss: 0.3285 - acc: 0.8615
Epoch 80/100
7500/7500 [==============================] - 0s - loss: 0.3288 - acc: 0.8628
Epoch 81/100
7500/7500 [==============================] - 0s - loss: 0.3282 - acc: 0.8641
Epoch 82/100
7500/7500 [==============================] - 0s - loss: 0.3284 - acc: 0.8636
Epoch 83/100
7500/7500 [==============================] - 0s - loss: 0.3277 - acc: 0.8644
Epoch 84/100
7500/7500 [==============================] - 0s - loss: 0.3282 - acc: 0.8628
Epoch 85/100
7500/7500 [==============================] - 0s - loss: 0.3276 - acc: 0.8643
Epoch 86/100
7500/7500 [==============================] - 0s - loss: 0.3281 - acc: 0.8647
Epoch 87/100

7500/7500 [==============================] - 0s - loss: 0.3276 - acc: 0.8641
Epoch 88/100
7500/7500 [==============================] - 0s - loss: 0.3282 - acc: 0.8635
Epoch 89/100
7500/7500 [==============================] - 0s - loss: 0.3283 - acc: 0.8643
Epoch 90/100
7500/7500 [==============================] - 0s - loss: 0.3274 - acc: 0.8621
Epoch 91/100
7500/7500 [==============================] - 0s - loss: 0.3275 - acc: 0.8635
Epoch 92/100
7500/7500 [==============================] - 0s - loss: 0.3276 - acc: 0.8629
Epoch 93/100
7500/7500 [==============================] - 0s - loss: 0.3277 - acc: 0.8647
Epoch 94/100
7500/7500 [==============================] - 0s - loss: 0.3278 - acc: 0.8649
Epoch 95/100
7500/7500 [==============================] - 0s - loss: 0.3276 - acc: 0.8639
Epoch 96/100
7500/7500 [==============================] - 0s - loss: 0.3283 - acc: 0.8641
Epoch 97/100
7500/7500 [==============================] - 0s - loss: 0.3279 - acc: 0.8640
Epoch 98/100
7500/7500 [==============================] - 0s - loss: 0.3275 - acc: 0.8639
Epoch 99/100
7500/7500 [==============================] - 0s - loss: 0.3272 - acc: 0.8671
Epoch 100/100
7500/7500 [==============================] - 0s - loss: 0.3277 - acc: 0.8640

In [26]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

In [28]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
cm

array([[1924,   80],
       [ 267,  229]])

In [29]:
ac_sc = accuracy_score(y_test, y_pred)
ac_sc

0.86119999999999997